In [12]:
import pandas as pd
import numpy as np
# mount Google Drive
from google.colab import drive
drive.mount('/content/gdrive')
path = '/content/gdrive/My Drive/SummerExperience-master/'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [40]:
data = pd.read_csv(path + 'ProjectDatasets/AP_exams/ap_exams_MI_2018.csv')
data = data.replace(r'^\s*$', np.nan, regex=True)
data = data.astype({key:"float64" for key in data.columns if key != "ap_exam"})
data.head()

       ap_exam  score  ...  total_in_state_college  total_out_of_state_college
0  art_history    5.0  ...                     2.0                         7.0
1  art_history    4.0  ...                    14.0                         7.0
2  art_history    3.0  ...                    17.0                         4.0
3  art_history    2.0  ...                     9.0                         1.0
4  art_history    1.0  ...                     4.0                         3.0

[5 rows x 9 columns]

In [41]:
data.dtypes

ap_exam                        object
score                         float64
total_students                float64
total_males                   float64
total_females                 float64
total_grade_11                float64
total_grade_12                float64
total_in_state_college        float64
total_out_of_state_college    float64
dtype: object